<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовое задание</title>
</head>
<body>
<h1>Web-Интерфейс</h1>
<table cols="4" border="1">

    {% if scenario %}
        <caption><h3>Сценарии</h3></caption>
        <tr>
            <td>Название сценария</td>
            <td>Статус сценария</td>
            <td>Кол-во шагов</td>
            <td>Время прохождения</td>
        </tr>
        {% for i in scenario %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.status}}</td>
            <td>{{i.steps_count}}</td>
            <td>{{i.time}}</td>
        </tr>
        {% endfor %}
    {% else %}
        <h3>Тестового отчета нет: "report/behave.json"</h3>
    {% endif %}
</table>


<table cols="2" border="1">
        {% if pairs %}
            <caption><h3>Отчет по акциям</h3>
            {% for name, divident in pairs %}
            <tr>
                <td>{{name}}</td>
                <td>{{divident}}</td>
            </tr>
            {% endfor %}
        {% else %}
        <h3>Отчета по дивидендам компании нет: "report/divident.json"</h3>
        {% endif %}

</table>
</body>
</html>